<% if @cocktails.any? %>

  <%= cl_image_tag("69368199_1331911483640528_1384982126662778880_n_ril917.jpg", :width=>150, :height=>160, :radius=>"20", :crop=>"fill") %>

  <h3>Bar Bambi App</h3>

  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
           <%= link_to cocktail_path(cocktail), method: :delete,
          data: { confirm: 'HAM?!', toggle: 'tooltip', placement: 'top' },
          title: 'Deletar ingrediente',
          class: 'text-danger' do %>
          <small><i class="fa fa-trash"></i></small>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>EEEEITA LASQUEIRA! 🥃 </h3>
  <p class="empty-state">
    Pra encher a cara primeiro adicione um gole top!
    <strong><%= link_to 'adicionando sua bebida', new_cocktail_path %></strong>!
  </p>
<% end %>