<% if @cocktails.any? %>
  <h3>Bar Bambi App</h3>

  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>EEEEITA LASQUEIRA! 😿</h3>
  <p class="empty-state">
    Pra encher a cara primeiro adicione um gole top!
    <strong><%= link_to 'adicionando sua bebida', new_cocktail_path %></strong>!
  </p>
<% end %>